@charset "UTF-8";
/* Base Styles */

#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  position: relative;
  z-index: 597;
}
#cssmenu > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
  margin: 0px 20px;
  position: relative;
  right: 20px;
  color: #ffffff;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu > ul ul {
  visibility: hidden;
  position: ;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu > ul ul li {
  color: #f9ab31;
  float: none;
  width: 100%;
}
#cssmenu > ul li:hover > ul {
  visibility: visible;
}
/* Theme Styles */
#cssmenu > ul {
  margin-top: 20px;
  font-family: Calibri, Tahoma, Arial, sans-serif;
  font-size: 14px;
  /*background: #1e1e1e;*/
  /*background: -moz-linear-gradient(top, #1e1e1e 0%, #040404 100%);*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e1e1e), color-stop(100%, #040404));*/
  /*background: -webkit-linear-gradient(top, #000000 0%, #040404 100%);*/
  background: linear-gradient(top, #1e1e1e 0%, #040404 100%);
  width: auto;
  zoom: 1;
}
#cssmenu > ul:before {
  content: '';
  display: block;
}
#cssmenu > ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu > ul li span {
  display: inline-block;
  padding: 10px 22px;
}

#cssmenu > ul > li > span:link,
#cssmenu > ul > li > span:visited {
  font-size: 2em;
  color: #ffffff;
}
#cssmenu > ul > li > span:hover {
  color: #ffffff;
  cursor: pointer;
}
#cssmenu > ul li li {
  background-color: #ffffff;
  border-bottom: 1px solid #f9ab31;
  font-size: 12px;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
#cssmenu > ul > li.hover,
#cssmenu > ul > li:hover {
  background-color: #f9ab31;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}
#cssmenu > ul span:link,
#cssmenu > ul span:visited {
  color: #9a9a9a;
  text-decoration: none;
}
#cssmenu > ul span:hover {
  color: #9a9a9a;
}
#cssmenu > ul span:active {
  color: #9a9a9a;
}
#cssmenu > ul ul {
  border: 1px solid #CCC;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  width: 150px;
}
