div{display: inline-block;}
body {
    margin: 0;
    width: 100%;
}
#div_main {
    display: none;
    width: 100vw;
    margin-left: 0vw;    
}
h1 {
    color: #13217b;
}
#div1{
    background-color: ;
    width: 100%;
    height: 70px;
    text-align: center;
    position: fixed;
    left: 0vw;
}
#div1 img {
    width: 180px;
}
#div1 h1{
    padding-right: 60px;
}
#div1_1{
    background-color: ;
    width: 100%;
    height: 50px;
    position: fixed;
    margin-top: 80px;
    left: 0vw;
}
#div1_1 h3 {
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    font-size: 1.5em;
}
#div2{
    background-color:;
    width: 100%;
    height: 70px;
    position: fixed;
    margin-top: 140px;
    left: 0vw;
}
#div2 .div2_wrap {
    display: none;
}
#div3{
    display: none;
}

#div4{
    float: none;
    background-color: #F5F5F5;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 135px; 

    overflow-y: hidden;
    overflow-x: hidden;    
}
#div5{
    background-color: ;
    width: 100%;
    height: 100px;
}
.menu_button {
    display: none;
}

#div4 #view_ul li {
    display: inline-block;
    float: left;
    width: calc((100% / 1) - 25px);
    padding: 10px 10px;
}
#div4 #view_ul li img{
    width: 70vw;
    height: 70vh;
    background-size: cover;
    
}

.atag {
    display: inline-block;
    float: right;
    padding: 5px;
    margin-right: 5px;
    margin-left: 20px;
    margin-top: 5px;
}
#img1:hover, #img2:hover {
    background-color: aliceblue;
}
.atag:active {
    background-color: black;
} 
#atag2 {
    display: inline-block;
    float: left;
}
#menu1:hover {
    background-color: aliceblue;
}
#img1 {
    width: 50px;
    height: 50px;
}
#img2 {
    width: 50px;
    height: 50px;    
}
#menu1 {
    width: 50px;
    height: 50px;
    margin-top: 6px;
    margin-left: 6px;
}

#navigation-list {
    display: inline;
}

#form ol {
    text-align: center;
}
#form input:not([type=radio]) {
	width: 60%;
}
#navigation-menu {
    display: inline-block;
    position: fixed;
    top: 116px;
}
#navigation-menu ul {
    left: 0;
}
#navigation-login {
    position: fixed;
    right: -5vw;
    width: 65%;
    top: 210px;
}
/* 게시판 */
table #header th {font-size: 0.7em;}
#dataTable tr td {font-size: 0.7em;}
.mobiledisplaynone {display: none;}
.mobiletitle {text-align: left;}

#div4 #div4_board .div4_board_table {
    width: 70vw;
}

#div4 #div4_board #dataTable {
    width: 70vw; 
    border-bottom: 1px solid #CCC; 
    border-right: 1px solid #CCC;
}



#div4 #div4_board .title {
    width: 40%;
}

#div4 #div4_board .name {
    width: 15%;
}

#div4 #div4_board .date {
    width: 15%;
}


#div4 #div4_board .div4_board_table2 .num {
    background-color: #C7B3B3; 
    text-align:center;
}
#div4 #div4_board .div4_board_table2 .title {
    text-align:left;
}

#div4 #div4_board .div4_board_table2 .name {
    text-align:center;
}

#div4 #div4_board .div4_board_table2 .date {
    text-align:center;
}
#div4 #div4_board .div4_board_table2 .count {
    text-align:center;
}
/*게시판 끝*/

/* q n a게시판 */
#div4_qa_table #header2 th {font-size: 0.7em;}
#data2Table tr td {font-size: 0.7em;}

#div4 #div4_qa .div4_qa_table {
    width: 70vw;
}

#div4 #div4_qa #data2Table {
    width: 70vw; 
    border-bottom: 1px solid #CCC; 
    border-right: 1px solid #CCC;
}

#div4 #div4_qa .num {
    width: 10%;
}

#div4 #div4_qa .title {
    width: 40%;
}

#div4 #div4_qa .name {
    width: 15%;
}

#div4 #div4_qa .date {
    width: 20%;
}

#div4 #div4_qa .count {
    width: 15%;
}

#div4 #div4_qa .div4_qa_table2 .num {
    background-color:; 
    text-align:center;
}
#div4 #div4_qa .div4_qa_table2 .title {
    text-align:left;
}

#div4 #div4_qa .div4_qa_table2 .name {
    text-align:center;
}

#div4 #div4_qa .div4_qa_table2 .date {
    text-align:center;
}
#div4 #div4_qa .div4_qa_table2 .count {
    text-align:center;
}
.div4_qa_table #header2 {
    background-color: #13217b;
    color: white;
    font-size: 0.9em;
}
/* q n a게시판 끝*/


/******************************자유게시판 시작****************************************/

#div4_free_table #header3 th {font-size: 0.7em;}
#data3Table tr td {font-size: 0.7em;}

#div4 #div4_free .div4_free_table {
    width: 70vw;
}

#div4 #div4_free #data3Table {
    width: 70vw; 
    border-bottom: 1px solid #CCC; 
    border-right: 1px solid #CCC;
}

#div4 #div4_free .num {
    width: 10%;
}

#div4 #div4_free .title {
    width: 40%;
}

#div4 #div4_free .name {
    width: 15%;
}

#div4 #div4_free .date {
    width: 20%;
}

#div4 #div4_free .count {
    width: 15%;
}

#div4 #div4_free .div4_free_table2 .num {
    background-color:; 
    text-align:center;
}
#div4 #div4_free .div4_free_table2 .title {
    text-align:left;
}

#div4 #div4_free .div4_free_table2 .name {
    text-align:center;
}

#div4 #div4_free .div4_free_table2 .date {
    text-align:center;
}
#div4 #div4_free .div4_free_table2 .count {
    text-align:center;
}
.div4_qa_table #header3 {
    background-color: #13217b;
    color: white;
    font-size: 0.9em;
}
/******************************자유게시판 끝****************************************/

#cssmenu {
    display: none;
}

#div4_map {
        width:100vw;
        height: 100vh;
}







/* 게시판 테블릿용 수정 */
table #header th {font-size: 0.9em;}
#dataTable tr td {font-size: 0.9em;}

#div4 #div4_board .div4_board_table {
    width: 70vw;
}

#div4 #div4_board #dataTable {
    width: 70vw; 
    border-bottom: 1px solid #CCC; 
    border-right: 1px solid #CCC;
}

#div4 #div4_board .num {
    width: 10%;
}

#div4 #div4_board .title {
    width: 40%;
}

#div4 #div4_board .name {
    width: 15%;
}

#div4 #div4_board .date {
    width: 20%;
}

#div4 #div4_board .count {
    width: 15%;
}

#div4 #div4_board .div4_board_table2 .num {
    background-color:; 
    text-align:center;
}
#div4 #div4_board .div4_board_table2 .title {
    text-align:left;
}

#div4 #div4_board .div4_board_table2 .name {
    text-align:center;
}

#div4 #div4_board .div4_board_table2 .date {
    text-align:center;
}
#div4 #div4_board .div4_board_table2 .count {
    text-align:center;
}
/*게시판 끝*/

/* 쟈비스?? q n a 게시판 테블릿 모드 가동해*/

#div4_qa_table #header2 th {font-size: 0.9em;}
#data2Table tr td {font-size: 0.9em;}

#div4 #div4_qa .div4_qa_table {
    width: 70vw;
}

#div4 #div4_qa #data2Table {
    width: 70vw; 
    border-bottom: 1px solid #CCC; 
    border-right: 1px solid #CCC;
}

#div4 #div4_qa .num {
    width: 10%;
}

#div4 #div4_qa .title {
    width: 40%;
}

#div4 #div4_qa .name {
    width: 15%;
}

#div4 #div4_qa .date {
    width: 20%;
}

#div4 #div4_qa .count {
    width: 15%;
}

#div4 #div4_qa .div4_qa_table2 .num {
    background-color:; 
    text-align:center;
}
#div4 #div4_qa .div4_qa_table2 .title {
    text-align:left;
}

#div4 #div4_qa .div4_qa_table2 .name {
    text-align:center;
}

#div4 #div4_qa .div4_qa_table2 .date {
    text-align:center;
}
#div4 #div4_qa .div4_qa_table2 .count {
    text-align:center;
}
.div4_qa_table #header2 {
    background-color: #13217b;
    color: white;
}
/*qna 게시판 끝*/




/*자유게시판 시작*/

#div4_free_table #header3 th {font-size: 0.9em;}
#data3Table tr td {font-size: 0.9em;}

#div4 #div4_free .div4_free_table {
    width: 70vw;
}

#div4 #div4_free #data3Table {
    width: 70vw; 
    border-bottom: 1px solid #CCC; 
    border-right: 1px solid #CCC;
}

#div4 #div4_free .num {
    width: 10%;
}

#div4 #div4_free .title {
    width: 40%;
}

#div4 #div4_free .name {
    width: 15%;
}

#div4 #div4_free .date {
    width: 20%;
}

#div4 #div4_free .count {
    width: 15%;
}

#div4 #div4_free .div4_free_table2 .num {
    background-color:; 
    text-align:center;
}
#div4 #div4_free .div4_free_table2 .title {
    text-align:left;
}

#div4 #div4_free .div4_free_table2 .name {
    text-align:center;
}

#div4 #div4_free .div4_free_table2 .date {
    text-align:center;
}
#div4 #div4_free .div4_free_table2 .count {
    text-align:center;
}
.div4_free_table #header3 {
    background-color: #13217b;
    color: white;
}
/*자유게시판 끝*/
#cssmenu {
    display: none;
}
.movieview .title {
    font-size: 10em;
}


#div4_map {
        width:768px;
        height: 768px;
}






/**************************글쓰기 모바일 모드 가동******************************/

#write_page {
    width: 100%;
    height: auto;

}
#write_page td {
    margin: 5px 0;
}

#write_table {
    border: 1px solid gray;
    width: 100vw;
    height: 350px;
    margin-left: 0;
    background-color: silver;
    color: #13217b;
    font-weight: bold;
}
#write_table #write_tbody {
    
}

#write_page h1 {
    text-align: center;
    color: #13217b;
    font-weight: bold;
}


#write_tbody th {
    font-size: 0.7em;
    width: 50px;
    height: 50px;
    font-weight: bold;
}

#write_page .writeinputbox {
    width: 60vw;;
    height: 25px;
}
#write_page .writeinputbox2 {
    width: 60vw;
    height: 150px;
}
#writebtntd {
    text-align: center;
}

.writebtn {
    width: 70px;
    height: 35px;
    border-radius: 20px;
    background-color: #13217b;
    color: white;
    border-style: none;
}

#div4 .board_view thead tr{
    font-size: 1em;
    color: #f9ab31;
    background-color: #13217b;
}

/***********/
#img_div0 {
    width: 100%;
    height: 200px;
    left: 0;
}
#header_in {
    height: 300px;
    width: 100%;
    text-align: center;
}
/*포스터 상세정보 */
#poster_body {
    width: 80%;
    left: 10%;
    flex-shrink: 0;
    overflow: scroll;
}
#header_in div .title {
    font-size: 2rem;
    position: relative;
    top: 5px;
}
#header_in #star_point {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    left: calc(100% / 3);
}
#poster_header {
    margin-left: 5vw;   
}
#header_in::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;    
}
#poster_header #img {
    display: none;
}
#star_point {
    position: relative;
    left: 40%;
}
#star span {
    font-size: 2em;
}
#star_point div {
    flex-shrink: 0;
}
#header_in div .age {
    font-size: 17px;

}
#header_in div .title {
    font-size: 1.3rem;
}
#div4 .div4_view{
    width: 80%;
}
#div4 .div4_view .moveview{
    left: 15%;
    margin: 0 35px;
}